.stage-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.top-row,
.middle-row,
.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noughts::before {
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 5px solid black;
}

.cross::before, .cross::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 5px;
    background: white;
    transform: rotate(-45deg);
}

.cross::after {
    transform: rotate(45deg);
}

.line::before {
    content: '';
    position: absolute;
    height: 50px;
    width: 5px;
    background: purple;
}

.gamecube {
    position: absolute;
    z-index: -1;
}

.play-again {
    visibility: hidden;
}

.game-container {
    grid-area: game;
}

.tally {
    background-color: lightblue;
    height: 200px;
    width: 200px;
    grid-area: tally;
    display: flex;
    flex-direction: column;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". game tally";
    justify-items: center;
    align-items: center;
}

.tally-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
}

.scores {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.players-score, .computer-score {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tally-grid {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    height: 50%;
    grid-row-gap: 25%;
}

.tally-points {
    grid-column: 2/10;
    height: 100%;
}

.tally-points-a {
    grid-column: 12/20;
    height: 100%;
}

.player-name {
    text-align: center;
}

.points {
    display: inline-block;
    height: 25px;
    width: 3px;
    background-color: white;
    margin: 0 auto;
}

.points-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.point-5 {
    display: inline-block;
    position: absolute;
}

.points-5 {
    position: relative;
    transform: rotate(-54.1deg);
    height: 42.6px;
    top: -10px;
    right: -20px;
}