.stage-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.top-row,
.middle-row,
.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noughts::before {
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 5px solid black;
}

.cross::before, .cross::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 5px;
    background: white;
    transform: rotate(-45deg);
}

.cross::after {
    transform: rotate(45deg);
}